extends ../shared/template

block content
  #username


  .controls
    button.button.button-action#seed Plant Seed
    button.button.button-action#getforest Get Forest
    table
      tbody
        tr
          td  Wood:
          td#wood 0
          td  Money:
          td#cash 0
    .sell
      input#sell(type='text', name='sell', placeholder='Qty')
      button.button.button-highlight Sell Wood

  #forest

block scripts
  script(src='/js/es6/compiled/game.js')
