html, body {
  height: 100%;
  width: 100%;
}

body {
  // background-image:url('../img/forest.jpg');
  // background-size: cover;
  // background-position: fixed;
}

nav {
  text-align: center;
  padding-top: 15px;
}

nav .button {
  margin: 0 10px;
}

.tree {
  width: 160px;
  height: 308px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 10px;
  border: 2px solid black;
}

.seed {
  background-image:url('../img/seed.png');
}

.sapling {
  background-image:url('../img/sprout.png');
}

.adolescent {
  background-image:url('../img/adolescent.png');
}

.adult {
  background-image:url('../img/adult.png');
}

.dead {
  background-image:url('../img/dead.png');
}
